.About input {
    margin: 10px;
    padding: 5px;
    width: 420px;
}
.About {
    
    margin: 10px;
    padding: 5px;
    width: 150vh;
    height: 300px;
    border-collapse: collapse;
    }
    
    th {
        margin: 10px;
        padding: 5px;
    border: 2.5px solid black;
    }
    
    td {
    margin: 10px;
    padding: 10px;
    text-align:center;
    border: 1px solid black;
    }


div.About {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .pagination button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 12px;
    border: none;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .active {
    background-color: #4caf50;
  }

button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
 
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
 
  button.active {
    background-color: #0056b3;
  }
  