

.sidebar {
    width: 95px;
    height: 89%;
    position: fixed;
    top: 55px;
    left: 0;
    background-color: #333;
    color: white;
    padding: 0px;
    
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 20px;
    margin: 0px;
  }
  
  .sidebar ul li {
    margin-bottom: 15px;
    cursor: pointer;
  }
  
  .sidebar ul li:hover {
    text-decoration: underline;
  }
  